$--colors: (
  "white": #000,
  "primary": (
    "base": #fff
  ),
  "success": (
    "base": #67c23a
  ),
  "warning": (
    "base": #f2711c
  ),
  "danger": (
    "base": #db2828
  ),
  "error": (
    "base": #db2828
  ),
  "info": (
    "base": #42b8dd
  )
);
$--buttons: (
  "active-text-color": (
    red
  ),
  "hover-text-color": (
    #000
  ),
  "text-color": (
    red
  )
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors
);
