@use "sass:map";
@use "../var/color" as *;

@mixin test {
  color: $light-blue;
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  position: relative;
  margin: 0 auto;
  width: #{$pct};
}
